@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
}
.coinsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  color: var(--text-primary);
}

.header {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.inputField {
  padding-left: 16px;
  font-size: 14px;
  width: 260px;
  height: 42px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 3pt 2pt white;
  color: #e2e2e2;
}

@media (max-width: 520px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1.brand {
    padding-bottom: 16px;
  }
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px 0px;
  height: calc(100vh - 40px);
  transition: all 0.2s;
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all 0.5s;
}
